<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-brand">XCURE</a>
        <div class="nav-sections">
            <div class="nav-links">
                <a href="#features">FEATURES</a>
                <a href="#about">ABOUT US</a>
                <a href="#services">SERVICES</a>
                <a href="#contact">CONTACT US</a>
            </div>
            <div class="auth-buttons">
                <span class="auth-text">Have an account?</span>
                <a href="{{ url_for('login_page') }}" class="button">Sign in</a>
                <a href="{{ url_for('doctor_register') }}" class="button">Sign up for dr</a>
            </div>
        </div>
    </div>
</nav>